.box {
    border: 1px solid rgb(44, 47, 255);
    width: 200px;
    height: 20px;
    /* box-shadow: 5px 5px 5px black; */
    display: flex;
    justify-content: center;
    text-shadow: 0.5px 1px 1px rgba(0, 68, 255, 0.773);
    outline: 1px solid green;
    outline-offset: 1px;
}